body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/images/home-bg.jpg') no-repeat;
    background-size: cover;
    /* Added property for responsiveness */
    background-position: center center;
    /* Center the background image */
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 1px solid rgba(44, 41, 41, 0.2);
    backdrop-filter: blur(20px);
    color: black;
    text-align: center;
    border-radius: 7px;
    padding: 30px 40px;
    font-family: 'poppins';
}

.wrapper.signup-container {
    background-color: blur;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 8% auto;
    width: 300px;
    text-align: center;
}

h1 {
    color: #fff;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 15px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 60px;
}

#button1 {
    width: 89%;
    height: 50px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
}

#button1:hover {
    background-color: #45a049;
}

p {
    color: #FF0000;
    font-weight: bold;
}

#buttonn {
    background-color: #fff;
    text-align: center;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#buttonn:hover {
    background-color: #45a049;
}

.input-box i {
    color: black;
    position: relative;
    right: 40px;
    top: 70%;
    transform: translateY(20%);
    font-size: 20px;
}


/* Media Queries for responsiveness */

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }
    #button1,
    #buttonn {
        width: 100%;
    }
}